.navbar .d-flex p {
  margin-bottom: 0;
  margin-right: 2rem;
}
.navbar .d-flex.nav-item {
  align-items: center;
}
.tabs-for-main-app {
  margin-top: 24px;
}

#bottomBand {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

#bottomBand.withArt {
  height: 200px;
}

#bottomBand .empty {
  height: auto;
}

#bottomBand.editSubmit {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#bottomBand.editSubmit button {
  width: 100%;
  margin: 10px;
}

#bottomBand .editAndCreatePost {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#bottomBand .editAndCreatePost p {
  /* margin-bottom: 14px; */
  /* text-align: center; */
  margin: auto;
}

#bottomBand .editAndCreatePost .button {
  height: 40px;
  width: 100%;
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottomBand .editAndCreatePost .button.disabled {
  background: #9adfaa;
  opacity: 1 !important;
}

#bottomBand .thumbnailAndTitle {
  background: #6c757d;
  text-align: center;
  margin: 1rem 0.3rem;
  border-radius: 6px;
  color: white;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  height: calc(100% - 67px);
  width: 5%;
  padding: auto 4px;
}

#bottomBand .thumbnailAndTitle:hover {
  background: hsl(206, 8%, 36%);
  cursor: default;
}

#bottomBand .thumbnailAndTitle {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#bottomBand .thumbnailAndTitle:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.14);
}

#bottomBand .thumbnailAndTitle img {
  max-width: 90%;
  height: auto;
  overflow: hidden;
  max-height: 40%;
}

#bottomBand .thumbnailAndTitle p {
  display: -webkit-box;
  max-width: 400px;
  margin: 6px auto;
  font-size: 12px;
  line-height: 18px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

#bottomBand .thumbnailAndTitle button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  right: -8px;
  margin: 0;
}

#bottomBand .thumbnailAndTitle button .delete {
  margin: -8px !important;
}

.artworkCard .form-check-input {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
}

.createGalleryContainer .col-md-4 {
  margin-bottom: 2rem;
}

.createGalleryContainer {
}
.paginationBottomWrapper {
  margin-bottom: 240px;
  margin-top: 2em;
  list-style: none;
}

.paginationBottomWrapper ul {
  list-style: none;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paginationBottomWrapper .paginationCreateGallery li {
  color: black;
  /* float: left; */
  padding: 8px 16px;
  text-decoration: none;
  height: 38px;
}
.paginationBottomWrapper .paginationCreateGallery li.active {
  background-color: #4caf50;
  color: white;
}

.col-md-4 .card .editButtonOwnPost {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.editGalleryContainer {
  margin-top: 60px;
  margin-bottom: 240px;
}

.editGalleryContainer .col-md-4 img {
  width: 100%;
  height: auto;
}

.editGalleryContainer .col-md-4 p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.editGalleryContainer .col-md-4 .editPageCard {
  padding: 16px;
  border: rgba(128, 128, 128, 0.171) 1.5px solid;
  border-radius: 8px;
  position: relative;
}

.editGalleryContainer .col-md-4 .editPageCard .button {
  position: absolute;
  top: -12px;
  left: -12px;
}
.editGalleryContainer .col-md-4 form .mb-3 {
  text-align: center;
  font-weight: 100;
}

.loginRegisterContainer {
  margin-top: 5rem;
}

.singlePagePost {
  margin-top: 60px;
  margin-bottom: 240px;
}

.singlePagePost h1 {
  font-size: 2rem;
}

.singlePagePost h2 {
  font-size: 1.6rem;
}

.singlePagePost p {
  font-size: 1rem;
  color: #333;
}

.tab-pane .col-md-4 .card .card-footer {
  margin-top: 12px;
}

.tab-pane .col-md-4 .card .card-header img {
  /* float: left;
  width: 50%;
  height: auto; */
}

.commentCard {
  margin-bottom: 12px;
  margin-left: 40px;
}

#commentsSection .submitComment {
  float: right;
  margin: 12px auto;
}
#commentsSection .submitComment a {
  color: white !important;
}

.commentCard .card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.commentCard .card-text {
  font-size: 1.1rem;
  font-weight: 100;
  color: #666;
}

.commentCard .deleteComment {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px !important;
}

.commentCard .deleteComment i {
  margin: 0 !important;
}

.cardsHomeButtonsWrapper {
  margin: 12px auto;
}

.cardInfoHome .card-body .card-title {
  font-size: 1.3rem;
}

.cardInfoHome {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cardInfoHome:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.14);
}
.cardInfoHome .card-header {
  display: flex;
  flex: 1 0 0;
  overflow-x: hidden;
  align-items: center;
  background: #eee;
}

.cardInfoHome .card-header .imageContainer {
  flex: 1 0 0;
  overflow-x: hidden;
  width: 40%;
}

.cardInfoHome .card-header .imageContainer:last-child {
  flex: 0 0 1;
  overflow-x: hidden;
}

.cardInfoHome .card-header .imageContainer img {
  width: auto;
  height: 100%;
  max-height: 200px;
}

.centerLoading {
  margin-top: 4rem;
  text-align: center;
}

.ui.modals .ui.small {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}
