.tabs-for-main-app {
  margin-top: 24px;
}

#bottomBand {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #eee;
}

#bottomBand.withArt {
  height: 200px;
  display: flex;
  justify-content: center;
}

#bottomBand.editSubmit {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#bottomBand.editSubmit button {
  width: 100%;
  margin: 10px;
}

#bottomBand.withArt .editAndCreatePost {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#bottomBand .editAndCreatePost p {
  /* margin-bottom: 14px; */
  /* text-align: center; */
  margin: auto;
}

#bottomBand.withArt .editAndCreatePost .button {
  height: 40px;
  width: 100%;
  margin: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottomBand .thumbnailAndTitle {
  background: #6c757d;
  text-align: center;
  margin: 1rem 0.3rem;
  border-radius: 6px;
  color: white;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
  height: calc(100% - 67px);
}

#bottomBand .thumbnailAndTitle:hover {
  background: hsl(206, 8%, 36%);
}

#bottomBand .thumbnailAndTitle img {
  width: 60px;
  height: auto;
  overflow: hidden;
  max-height: 75px;
}

#bottomBand .thumbnailAndTitle p {
  font-size: 1rem;
  max-width: 100px;
  max-height: 50px;
  overflow: hidden;
  padding: 6px;
  margin-bottom: 2px;
  font-weight: normal;
}

#bottomBand .thumbnailAndTitle button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  right: -8px;
}

#bottomBand .thumbnailAndTitle button .delete {
  margin: -8px !important;
}

.artworkCard .form-check-input {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
}

.createGalleryContainer .col-md-4 {
  margin-bottom: 2rem;
}

.createGalleryContainer {
}
.paginationBottomWrapper {
  margin-bottom: 240px;
  list-style: none;
}

.paginationBottomWrapper ul {
  list-style: none;
}

.paginationBottomWrapper .paginationCreateGallery li {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.paginationBottomWrapper .paginationCreateGallery li.active {
  background-color: #4caf50;
  color: white;
}

.col-md-4 .card .editButtonOwnPost {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 9px;
  left: 9px;
}

.editGalleryContainer {
  margin-top: 60px;
  margin-bottom: 240px;
}

.editGalleryContainer .col-md-4 img {
  width: 100%;
  height: auto;
}

.editGalleryContainer .col-md-4 p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.editGalleryContainer .col-md-4 .editPageCard {
  padding: 16px;
  border: rgba(128, 128, 128, 0.171) 1.5px solid;
  border-radius: 8px;
  position: relative;
}

.editGalleryContainer .col-md-4 .editPageCard .button {
  position: absolute;
  top: -12px;
  left: -12px;
}
.editGalleryContainer .col-md-4 form .mb-3 {
  text-align: center;
  font-weight: 100;
}
